---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import Coaches from "@/components/sections/Coaches.astro";
import Reasons from "@/components/sections/Reasons.astro";
import About from "@/components/sections/About.astro";
import Qvema from "@/components/sections/Qvema.astro";
import Product from "@/components/sections/Product.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import Vsl from "@/components/sections/Vsl.astro";
import Guarantees from "@/components/sections/Guarantees.astro";
import Booking from "@/components/sections/Booking.astro";
import Faq from "@/components/sections/Faq.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout>
  <Header />
  <main class="flex-1">
    <Hero />
    <Coaches />
    <Reasons />
    <About />
    <Qvema />
    <Product />
    <Testimonials />
    <Vsl />
    <Guarantees />
    <Booking />
    <Faq />
  </main>
  <Footer />
</Layout>
